:root {
    --white-color: #fff;
    --bg-color: #000;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

html{
    font-size: 62.5%;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    background-image: url("img/Wave.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: bold;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 5rem;
}

h4{
    font-size: 4.5rem;
}

h5{
    font-size: 4rem;
}

h6{
    font-size: 3.5rem;
}

.section{
    /**/
    min-height: 720px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.white-section{
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.conteudo{
    justify-self: center;
    border: 0;
    padding: 0;
    margin: 0;
}

.blue-section{
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("img/Wave.svg");
    justify-content: space-around;
}